.experience {

}

.company {
  margin-bottom: 3em;
}
.company-header {
  margin-bottom: 1em;
}

.title-list {
  padding-left: 1em;
}

.project-list {
  padding-left: 1em;
}
.project {
  margin: 2em 0;
}
.project-header {
  margin-bottom: 1em;
}
.project-decorator {
  display: inline-block;
  font-weight: 400;
  margin-right: 0.5em;
  opacity: 0.5;
}

ul.highlight-list {
  list-style-type: none;
  padding-inline-start: 0;

  li {
    line-height: 1.4em;
    margin-bottom: 2rem;
    padding-left: 1.4rem;
    position: relative;

    &:last-child {
      margin-bottom: 0;
    }

    &:before {
      position: absolute;
      content: '';
      display: block;
      top: 0.25em;
      bottom: 0.25em;
      left: 0;

      border-left: 1px solid $primary-fade;
    }
  }
}

.tech-stack-container {
  color: $text-secondary;
  font-size: 1rem;
  margin-left: 1.4rem;

  @include respond(desktop) {
    margin-left: auto;
  }
}
.tech-stack-header {
  font-weight: bold;
}
.tech-stack-list {
  color: $text-color;
}
.tech-stack {
  background-color: #151b1e;
  border-radius: 5px;
  display: inline-block;
  margin: 0.1em 0.5em 0.25em 0;
  padding: 0.1em 0.75em;
}