.hobby-name {
  border-radius: 4px 0 0 4px;
  cursor: pointer;
  font-size: 1.2rem;
  height: 100%;
  line-height: 1.2em;
  padding: 0.75em;
  position: relative;
  text-align: left;
  text-transform: uppercase;
  transition: background-color 0.25s;

  &:hover {
    background-color: darken($background-body, 5%);
  }

  &.hobby-name--selected {
    background-color: $background-secondary;
    color: $text-color;
  }

  @media (min-width: 768px) {
    text-align: right;
  }

  @media (min-width: 992px) {
    font-size: 1.4rem;
  }
}
.hobby-content {
  background-color: $background-secondary;
  color: $text-color;
  border-radius: 0 5% 0 5%;
  padding: 1.2em 1.2em 3em 1.2em;
}
.hobby-image {
  background-color: $background-secondary;
  margin-bottom: 1.2em;
  position: relative;
  width: 100%;
}
.hobby-link {
  position: absolute;
  bottom: -16px;
  right: -0.5em;
  max-width: 100%;

  background-color: $button-background;
  border: 1px solid rgba(0, 0, 0, 0.2);
  border-radius: 4px;
  padding: 0.5em 1.2em;

  &:hover {
    background-color: $button-background-hover;
    color: $text-color;
    transform: translate(1px, 1px);
  }

  @media (min-width: 768px) {
    bottom: -32px;
    right: -5%;
    max-width: 100%;
  }

  a {
    border-bottom: 1px dotted transparentize($text-color, 0.5);
    color: $text-color;
  }
}