// COLORS
$primary-color: #d58228;
$secondary-color: #393836;

$background-color: #222222;

$button-background: #393836;
$button-background-hover: #111111;


$text-color: #ffffff;
$text-secondary: #999999;
$title-color: #d5d5d5;

// FONT SIZE
$default-font-size: 1.6rem;
