html {
  font-size: 62.5%;

  @media (min-width: 768px) {
    font-size: 100%;
  }
}

body {
  background-color: $background-body;
  color: $text-color;
  font-family: 'Avenir Next', Montserrat, Helvetica, Arial, serif;
  text-align: left;
}

main {
  line-height: 1.6em;
  margin-left: 0;
  margin-top: 64px;

  @media (min-width: 992px) {
    margin-left: 380px;
    margin-top: 0;
  }
}

section {
  font-size: 1.2rem;
  line-height: 2em;
  min-height: 100vh;

  @media (orientation: portrait) {
    min-height: 80vh;
  }

  &:last-child {
    min-height: 75vh;
  }
}

@media (min-width: 992px) {
  .container,
  .container-lg,
  .container-md,
  .container-sm {
    margin-left: 0;
    max-width: 960px;
  }
}