@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700&display=swap');


a,
a:link,
a:hover,
a:visited,
a:active {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  color: $title-color;
  font-weight: bold;
}

h1 { font-size: 5rem; }
h2 { font-size: 3rem; }
h3 { font-size: 2.5rem; }
h4 { font-size: 2rem; }
h5 { font-size: 1.5rem; }
h6 { font-size: 1.25rem; }

.section-title {
  font-weight: bold;
  padding-top: 6rem;
  text-transform: uppercase;

  &:after {
    display: block;
    content: '';
    width: 64px;
    height: 8px;
    background-color: #d5d5d5;
    margin: 0.125em 0 0.75em;
  }
}


.text-highlight {
  display: inline-block;
  position: relative;
  z-index: 10;

  &:after {
    content: '';
    display: block;
    position: relative;
    z-index: -1;

    margin-top: -0.5em;
    width: 100%;
    height: 0.5em;

    background-color: transparentize($primary-color, 0.5);
    transform: skew(-10deg, -2deg);
  }
}

.text-uppercase {
  text-transform: uppercase;
}
.text-uppercase {
  text-transform: lowercase;
}

.text-datetime {
  font-style: italic;
}

.date-range {
  color: $text-secondary;
  font-style: italic;
}

.text-large {
  font-size: 1.6rem;
  line-height: 2em;
}
.text-larger {
  font-size: 2rem;
  line-height: 2em;
}

.text-inline {
  display: inline;
}


